body {
    margin: 20px;
    padding: 20px;
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    
}

h1 {
    text-align: center;
}

.container {
    margin: auto;
    background-color: aquamarine;
    padding: 50px;
    text-transform: uppercase;
}

.heading {
    display: grid;
    font-size: 14px;
    grid-template-columns: 3.25in 3.25in;
}

.payperiod {
    display: grid;
    grid-template-columns: 141px 10px 141px;
    grid-template-rows: auto;
    width: 3.25in;
}

#payperiod1 {
    width: 131px;
    text-align: right;
}

#payperiod2 {
    width: 131px;
}

tr {
    border: 1px solid black;
    padding: 5px;
}

th {
    padding: 5px;
}

.hyphen {
    margin: auto;
}

.employer {
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 20px;

}

.heading input {
    width: 292px;
    margin-bottom: 2px;
}

.employee {
    margin: auto;
    padding-left: 20px;
}

table {
    margin: auto;
}

#divID {
    width: 8.5in;
    height: 11in;
    margin:auto;
    background-color: white;
    
}

.bottom {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

form h1 {
    margin: auto;
    text-align: center;
    font-size: 16px;
    padding-top: 1in;
    padding-bottom: 0.25in;
}

label {
    padding: 0;
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}

.PI {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


.container2 {
    padding: 0 1in 1in 1in;
    width: 6.5in
}

.earnings {
    width: 6.5in;
    font-size: 14px;
}

.deduct {
    width: 6.5in;
    font-size: 14px;
}

.earnings input {
    width: 90%;
    margin: 0;
    border: 0;
}

#employeraddress {
    height: 1in;
    width: 286px;
}

#employeeaddress {
    height: 1in;
    width: 286px;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid;
  }

.grossearnings {
    width: 25%
}

.earningsrate {
    width: 12.5%;
}

.earningshours {
    width: 12.5%;
}

.earningscurrenttotal {
    width: 25%;
}

.earningsytd {
    width: 25%;
}

.deductionsdeduct {
    width: 75%;
}

.deductcurrenttotal {
    width: 12.5%;
}

.deductytd {
    width: 12.5%;
}

.deduct input {
    border: 0;
}

.current {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(3.25in - 20px);
    padding-right: 20px;
}

.ytd {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: calc(3.25in - 20px);
    padding-left: 20px;
}

input {
    border: 1px solid black;
    padding-top: 3px;
    padding-bottom: 3px;
}

textarea {
    border: 1px solid black;
}

.button {
    margin: 50px;
    padding: 20px;
}

.buttondiv {
    margin: auto;
}

textarea {
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    padding: 6px;
}