body {
    margin: 20px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: auto;
}

.heading {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}

.payperiod {
    display: grid;
    grid-template-columns: 125px 75px 125px;
    grid-template-rows: auto;
}

tr {
    border: 1px solid black;
    padding: 5px;
}

th {
    padding: 5px;
}

.hyphen {
    margin: auto;
}

.heading h3 {
    padding: 5px;
    margin: 5px;
}

.employer {
    margin: auto;
}

.employee {
    margin: auto;
}

table {
    margin: auto;
}

#divID {
    width: 8.5in;
    height: 11in;
}

.bottom {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
}